

div{
  border: 1px solid black;
}



.prof-card img{
  width:100%;
  margin: 0 auto;
  vertical-align: middle;
}

.prof-card{
  h1{font-family: 'Roboto', sans-serif; font-size: 2em;}
  h2{}
  h3{}
  h4{}
}
