

div{
  border: 1px solid black;
}



.prof-card img{
  width:100%;
  margin: 0 auto;
  vertical-align: middle;
}

.prof-card{
  h1{font-family: 'Roboto', sans-serif; font-weight: 200; font-size: 30px45;}
  h2{}
  h3{}
  h4{}
}
