$off-white: #FFFFEA;
$dark-grey: #303337;
$light-grey: #EFEFEF;
$white: #FFFFFF;
$orange: #EF694F;
$sage: #90B0A3;



#table-schedule{
  margin-bottom: 150px;
  margin-top: 20px;
}

table {
  //margin-top: 5%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.classes {
  color: $orange;
}

h2 {font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: $sage;
  margin:125px 0 10px 0;
}

//FOOTER STYLING
body{
  position: relative;
}

.footer{
margin-top: 50px;
 background: $orange;
 position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
 padding: 1rem;
 text-align: center;
 color: white;
 font-size: 15px;
}

.social-media-links i{
  color: white;
  font-size: 25px;
  text-decoration: none;
}
